<% if @current_user %>

<h1><%= @place["name"] %></h1>

<div class="row mt-4">
  <div class="col text-left">
    <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
  </div>
</div>

<div class="row">
  <% for post in @posts %>
    <div class="col-md-4 col-sm-8 row mt-4">
      <h3><%= post["title"] %></h3>
      <h4><%= post["posted_on"] %></h4>
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>

<% else %>
  <p> Please log in. </p>
<% end %>